<ion-item lines="none">
  <ion-icon
    name="{{ roomData()?.icon }}-outline"
    size="large"
    color="primary"
    slot="start"
  ></ion-icon>

  <!-- Clickable content -->
  <ion-label class="room-label" [routerLink]="['room-detail', roomData()?.id]">
    {{ roomData()?.name }}
  </ion-label>

  <ion-reorder slot="end"></ion-reorder>

  <ion-button
    fill="clear"
    color="danger"
    slot="end"
    shape="round"
    (click)="deleteRoom.emit(roomData()?.id)"
  >
    <ion-icon name="trash-outline"></ion-icon>
  </ion-button>
</ion-item>
