<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">Back</ion-back-button>
    </ion-buttons>

    <ion-title>{{ roomData()[0]?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    @for (device of devices(); track device.id) {
      <ion-col>
        <app-device-card
          [deviceData]="device"
          [deviceStatus]="savedStatuses()[device.id]"
          (statusChange)="updateDeviceStatus(device.id, $event)">
        </app-device-card>
      </ion-col>
    }
  </ion-row>
</ion-content>
