<!-- header content -->
<ion-header class="ion-padding-top ion-padding-horizontal ion-margin-bottom">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar>
        <ion-icon name="menu-outline" size="large"></ion-icon>
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-icon
          name="person-outline"
          size="large"
          (click)="navigateToLogin()"
        ></ion-icon>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- home page contetn -->
  <ion-item lines="none">
    <ion-label>
      <ion-text>
        <h1>Welcome User!</h1>
      </ion-text>
      <p>Your smart home dashboard</p>
    </ion-label>
  </ion-item>

  <!-- main card for the weather forecast -->
  <ion-card class="ion-margin-bottom">
    <!-- card header showing details about the weather,location -->
    <ion-item lines="none">
      <ion-icon name="cloud-outline" size="large" color="secondary"></ion-icon>
      <ion-card-header>
        <ion-card-subtitle class="ion-margin-top"
          >Mostly cloudy</ion-card-subtitle
        >
        <ion-card-title>{{currentLocation()?.address?.city}}</ion-card-title>
      </ion-card-header>

      <ion-text slot="end" color="secondary"><h1>22° C</h1></ion-text>
    </ion-item>

    <ion-card-content>
      <!-- Card content -->
      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-col>22° C Temperature</ion-col>
          <ion-col>40% Precipitation</ion-col>
          <ion-col>66% Humidity</ion-col>
          <ion-col>20 km/hr Wind</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- design for the rooms -->
  <ion-item-divider color="light">
    <ion-label>Your rooms</ion-label></ion-item-divider
  >
  <ion-grid>
    @for (room of roomData(); track $index) {
    <app-room-card [roomData]="room" />
    }
  </ion-grid>

  <!-- fab button to add more rooms -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button color="danger" (click)="openModal()">
      <ion-icon name="add" color="dark" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
